Managed_Stack_Data/Axiom-Master-Router.json
{
  "id": "dTzRbVa8bRBZTZ6O",
  "name": "Axiom Master Router",
  "versionId": "d18a2001-a302-405e-a7b4-4b87f153ee3b",
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Webhook Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "webhookId": "95ddefd0-1bdc-4b1a-a1bc-7c6c963885f0",
      "parameters": {
        "httpMethod": "POST",
        "path": "axiom-router-exec",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "node-extract",
      "name": "Extract Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        200,
        200
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $input.item.json.body || {};\nconst text = String(body.content || '').trim();\nlet mode = String(body.mode || 'chat').toLowerCase();\n\nconst history = Array.isArray(body.history) ? body.history : [];\nconst historyEntries = history\n  .slice(-20)\n  .map((h) => ({\n    sender: String((h && h.sender) || ''),\n    text: String((h && h.text) || ''),\n    timestamp: String((h && h.timestamp) || ''),\n  }));\n\nconst historyText = historyEntries\n  .map((h) => `${h.sender || 'unknown'}: ${h.text}`)\n  .join('\\n');\n\nconst cleanupPath = (raw) => {\n  let p = String(raw || '').replace(/\\\\/g, '/').trim();\n  p = p.replace(/^[\\s\"'`]+|[\\s\"'`]+$/g, '');\n  p = p.replace(/[\\]\\)\\}]+$/g, '');\n  p = p.replace(/[.,;:!?]+$/g, '');\n  return p;\n};\n\nconst pathRegex = /([A-Za-z]:[\\\\/][^\\n\\r]+)/g;\n\nconst extractPathCandidates = (msg) => {\n  const source = String(msg || '');\n  const out = [];\n\n  const targetLine = source.match(/Target file path:\\s*([^\\n\\r]+)/i);\n  if (targetLine && targetLine[1]) out.push(targetLine[1]);\n\n  const commonInline = [...source.matchAll(/(?:file\\s+to|path\\s*:|at)\\s*([A-Za-z]:[\\\\/][^\\n\\r]+)/gi)];\n  for (const m of commonInline) {\n    if (m && m[1]) out.push(m[1]);\n  }\n\n  const generic = [...source.matchAll(pathRegex)];\n  for (const m of generic) {\n    if (m && m[1]) out.push(m[1]);\n  }\n\n  return out;\n};\n\nconst extractLastPath = (entries) => {\n  for (let i = entries.length - 1; i >= 0; i--) {\n    const msg = entries[i].text || '';\n    const matches = extractPathCandidates(msg);\n    for (let j = matches.length - 1; j >= 0; j--) {\n      const p = cleanupPath(matches[j] || '');\n      if (p) return p;\n    }\n  }\n  return '';\n};\n\nconst fileIntentRegex = /\\b(write|put|create|save|append|update|udpate|updte|updat|udate|edit|modify|add|make|build|generate|include|insert|format|transform|adjust|read|open|show|list)\\b[\\s\\S]*\\b(file|txt|text|document|note|folder|directory|files?)\\b/i;\n\nconst extractLastUserFileCommand = (entries) => {\n  for (let i = entries.length - 1; i >= 0; i--) {\n    const e = entries[i];\n    if ((e.sender || '').toLowerCase() !== 'user') continue;\n    if (fileIntentRegex.test(e.text || '')) return String(e.text || '').trim();\n  }\n  return '';\n};\n\nconst readTextFileSafe = (absolutePath) => {\n  try {\n    const fs = require('fs');\n    const p = cleanupPath(absolutePath);\n    if (!p || !fs.existsSync(p)) return '';\n    return String(fs.readFileSync(p, 'utf8') || '').slice(0, 5000);\n  } catch (e) {\n    return '';\n  }\n};\n\nconst lastFilePath = cleanupPath(extractLastPath(historyEntries));\nconst lastUserFileCommand = extractLastUserFileCommand(historyEntries);\n\nconst shortFollowUp = /^\\s*(do it|you do it|make it|please do it|i need you to make it|i need you top make it|just do it)\\s*[.!?]*\\s*$/i.test(text);\n\nconst lowerText = text.toLowerCase();\nconst hasContextPronoun = /\\b(it|this|that|same)\\b/.test(lowerText);\nconst hasWriteVerb = /\\b(write|put|add|append|update|udpate|updte|updat|udate|edit|modify|change|replace|rewrite|create|make|include|insert|format|transform|adjust)\\b/.test(lowerText);\nconst hasLineIntent = /\\b(?:\\d+(?:st|nd|rd|th)?[a-z]*|first|second|third|fourth|fifth|sixth|seventh|eighth|ninth|tenth)\\s+line\\b/.test(lowerText);\nconst hasLatestFileReference = /\\b(?:latest|last|previous|current)\\s+(?:txt|text|file|document)\\b/.test(lowerText);\n\nlet normalizedContent = text;\n\nif (shortFollowUp && lastUserFileCommand) {\n  normalizedContent = lastUserFileCommand;\n}\n\nconst needsContextBinding = !!lastFilePath && (\n  /\\b(that|this|same)\\s+file\\b/.test(lowerText) ||\n  /\\b(?:in|into)\\s+it\\b/.test(lowerText) ||\n  hasLatestFileReference ||\n  (hasContextPronoun && hasWriteVerb) ||\n  hasLineIntent\n);\n\nif (needsContextBinding) {\n  if (!/Target file path:/i.test(normalizedContent)) {\n    normalizedContent += `\\n\\nTarget file path: ${lastFilePath}`;\n  }\n  const currentFileContent = readTextFileSafe(lastFilePath);\n  if (currentFileContent) {\n    normalizedContent += `\\n\\nCurrent file content:\\n${currentFileContent}`;\n  }\n}\n\nif (mode === 'chat') {\n  const lower = normalizedContent.toLowerCase();\n\n  const toolIntent = [\n    /\\b(write|put|create|save|append|update|udpate|updte|updat|udate|edit|modify|add|make|build|generate|include|insert|format|transform|adjust)\\b.*\\b(file|txt|text|document|note)\\b/,\n    /\\b(read|open|show)\\b.*\\b(file|txt|text|document|note)\\b/,\n    /\\b(list|show)\\b.*\\b(directory|folder|files?)\\b/,\n    /\\b(make|create)\\b.*\\b(folder|directory)\\b/,\n    /\\b(that|this|same)\\s+file\\b/,\n    /\\b(?:in|into)\\s+it\\b/,\n    /\\b(?:latest|last|previous|current)\\s+(?:txt|text|file|document)\\b/,\n    /\\bmake\\s+me\\b.*\\b(txt|file)\\b/,\n    /\\bhello\\s+world\\b.*\\b(txt|file)\\b/,\n  ].some((r) => r.test(lower));\n\n  const contextualFileFollowUp = !!lastFilePath && (\n    ((/\\b(it|this|that|same)\\b/.test(lower) || /\\b(?:in|into)\\s+it\\b/.test(lower) || hasLatestFileReference) && /\\b(write|put|add|append|update|udpate|updte|updat|udate|edit|modify|change|replace|rewrite|include|insert|format|transform|adjust)\\b/.test(lower)) ||\n    /\\b(?:\\d+(?:st|nd|rd|th)?[a-z]*|first|second|third|fourth|fifth|sixth|seventh|eighth|ninth|tenth)\\s+line\\b/.test(lower)\n  );\n\n  if (toolIntent || shortFollowUp || contextualFileFollowUp) {\n    mode = 'tool';\n  }\n}\n\nreturn { json: { mode, content: normalizedContent, historyText, lastFilePath, lastUserFileCommand } };"
      }
    },
    {
      "id": "node-switch-mode",
      "name": "Mode Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        400,
        200
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "renameOutput": false,
              "outputIndex": 0,
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mode }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-1"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "renameOutput": false,
              "outputIndex": 1,
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mode }}",
                    "rightValue": "tool",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "renameOutput": false,
              "outputIndex": 2,
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mode }}",
                    "rightValue": "task",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-3"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        }
      }
    },
    {
      "id": "node-tool-parse",
      "name": "Ollama Tool Parse",
      "type": "n8n-nodes-local-ai-manager.localAiManager",
      "typeVersion": 1,
      "position": [
        600,
        200
      ],
      "parameters": {
        "connectionType": "local",
        "modelName": "llama3.2",
        "systemDirective": "You are a proposal generator for Axiom Nexus. Return one STRICT JSON object only. The parser will normalize and validate final execution.\n\nYou are the tool-planning brain for Axiom Nexus.\nReturn STRICT JSON only. No prose, no markdown, no backticks.\n\nOutput schema exactly:\n{\n  \"action\": \"write_file\" | \"read_file\" | \"list_directory\",\n  \"path\": \"absolute path or filename\",\n  \"writeMode\": \"overwrite\" | \"append\" | \"line_edit\",\n  \"content\": \"final text to write when not line_edit\",\n  \"lineEdits\": [\n    { \"line\": 2, \"text\": \"replacement text\" }\n  ],\n  \"append\": true | false,\n  \"confidence\": 0.00-1.00\n}\n\nRules:\n- Resolve references like \"it\" / \"that file\" from context.\n- If user gives line-based instructions, use writeMode=\"line_edit\" + lineEdits.\n- For factual placeholders, return final factual value (example: \"capital of Slovakia\" => \"Bratislava\").\n- If user asks for N items and spacing (example: \"each two lines\"), generate exactly N entries with correct blank lines in content.\n- Keep paths inside C:/Users/Martin/.n8n-files/Axiom_Files unless explicitly told otherwise.\n- Confidence must reflect ambiguity.\n- If the user says \"it\"/\"that file\"/\"latest file\" without a new path, you must reuse the provided target file path exactly.",
        "userInput": "={{ ($node[\"Extract Input\"].json.historyText ? (\"RECENT CONTEXT:\\n\" + $node[\"Extract Input\"].json.historyText + \"\\n\\n\") : \"\") + $node[\"Extract Input\"].json.content }}"
      }
    },
    {
      "id": "node-parse-json",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        800,
        200
      ],
      "parameters": {
        "jsCode": "const response = String($input.item.json.response || '');\nconst plannerTier = String($input.item.json.plannerTier || 'small').toLowerCase();\nconst baseDir = 'C:/Users/Martin/.n8n-files/Axiom_Files';\nconst originalCommand = String($node[\"Extract Input\"].json.content || '');\nconst lastFilePath = String($node[\"Extract Input\"].json.lastFilePath || '');\nconst lastUserFileCommand = String($node[\"Extract Input\"].json.lastUserFileCommand || '');\nconst lowerCommand = originalCommand.toLowerCase();\n\nconst cleanupPath = (raw) => {\n  let p = String(raw || '').replace(/\\\\/g, '/').trim();\n  p = p.replace(/^[\\s\"'`]+|[\\s\"'`]+$/g, '');\n  p = p.replace(/[\\]\\)\\}]+$/g, '');\n  p = p.replace(/[.,;:!?]+$/g, '');\n  return p;\n};\n\nconst toForwardSlashes = (v) => cleanupPath(v);\n\nconst sanitizeName = (name) => {\n  let n = String(name || '').trim();\n  if (!n) return '';\n  n = n.replace(/[<>:\"/\\\\|?*]/g, ' ');\n  n = n.replace(/\\s+/g, '_');\n  n = n.replace(/^_+|_+$/g, '');\n  n = n.replace(/[^A-Za-z0-9._-]/g, '');\n  if (!n) return '';\n  if (!/\\.[A-Za-z0-9]+$/.test(n)) n += '.txt';\n  return n;\n};\n\nconst sanitizePath = (input, actionType) => {\n  let p = toForwardSlashes(input);\n  if (!p) {\n    if (actionType === 'write_file') return `${baseDir}/helloWorld.txt`;\n    return baseDir;\n  }\n  if (/^[a-zA-Z]:/.test(p)) {\n    if (p.toLowerCase().startsWith(baseDir.toLowerCase())) return p;\n    const name = sanitizeName(p.split('/').filter(Boolean).pop() || 'file.txt') || 'file.txt';\n    return `${baseDir}/${name}`;\n  }\n  const maybeName = sanitizeName(p.replace(/^\\/+/, ''));\n  if (actionType === 'write_file' && maybeName) return `${baseDir}/${maybeName}`;\n  return `${baseDir}/${p.replace(/^\\/+/, '')}`;\n};\n\nconst parseJsonPayload = (text) => {\n  const t = String(text || '').trim();\n  if (!t) return null;\n\n  const candidates = [t];\n  const unfenced = t.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/i, '').trim();\n  if (unfenced && unfenced !== t) candidates.push(unfenced);\n\n  const m = unfenced.match(/\\{[\\s\\S]*\\}/);\n  if (m) candidates.push(m[0]);\n\n  for (const c of candidates) {\n    try {\n      return JSON.parse(c);\n    } catch (e) {}\n  }\n  return null;\n};\n\nconst ordinalMap = { first:1, second:2, third:3, fourth:4, fifth:5, sixth:6, seventh:7, eighth:8, ninth:9, tenth:10 };\nconst wordToNum = { one:1, two:2, three:3, four:4, five:5, six:6, seven:7, eight:8, nine:9, ten:10 };\n\nconst parseLineNumber = (value) => {\n  const t = String(value || '').toLowerCase().trim();\n  if (ordinalMap[t]) return ordinalMap[t];\n  const m = t.match(/^(\\d+)(?:st|nd|rd|th)?[a-z]*$/);\n  if (!m) return null;\n  const n = Number(m[1]);\n  if (!Number.isFinite(n) || n < 1) return null;\n  return n;\n};\n\nconst extractQuotedText = (text) => {\n  const dq = String(text || '').match(/\"([^\"]+)\"/);\n  if (dq) return dq[1];\n  const sq = String(text || '').match(/'([^']+)'/);\n  if (sq) return sq[1];\n  return '';\n};\n\nconst extractFileNameHint = (text) => {\n  const src = String(text || '');\n  const patterns = [\n    /\\b(?:called|named|name\\s+it)\\s+([A-Za-z0-9 _.-]{1,80})\\b/i,\n    /\\bfile\\s+name\\s*(?::|is)?\\s+([A-Za-z0-9 _.-]{1,80})\\b/i,\n    /\\bfilename\\s*(?::|is)?\\s+([A-Za-z0-9 _.-]{1,80})\\b/i,\n  ];\n  for (const re of patterns) {\n    const m = src.match(re);\n    if (m && m[1]) {\n      const name = sanitizeName(m[1]);\n      if (name) return name;\n    }\n  }\n  return '';\n};\n\nconst extractCreatePayload = (text) => {\n  const source = String(text || '');\n  const quoted = extractQuotedText(source);\n  if (quoted) return quoted;\n\n  const withText = source.match(/\\bwith\\s+text\\s+(.+?)(?:\\s*(?:,|\\.)?\\s*(?:make\\s+sure|call(?:ed)?|named|name\\s+it|file\\s+name|filename)\\b|$)/i);\n  if (withText) return withText[1].trim();\n\n  const textIs = source.match(/\\btext\\s*(?::|is)?\\s+(.+?)(?:\\s*(?:,|\\.)?\\s*(?:make\\s+sure|call(?:ed)?|named|name\\s+it|file\\s+name|filename)\\b|$)/i);\n  if (textIs) return textIs[1].trim();\n\n  const putInto = source.match(/\\b(?:write|put|save|append|add|make)\\s+(.+?)\\s+(?:to|into)\\s+(?:the\\s+)?(?:file|txt|text|document|[A-Za-z0-9._-]+\\.[A-Za-z0-9._-]+)/i);\n  if (putInto) return putInto[1].trim();\n\n  const m1 = source.match(/\\b(?:create|make)(?:\\s+me)?\\s+(.+?)\\s+in\\s+(?:a\\s+)?txt\\s+file\\b/i);\n  if (m1) return m1[1].trim();\n\n  const m2 = source.match(/\\b(?:create|make)(?:\\s+me)?\\s+(.+?)\\s+file\\b/i);\n  if (m2) return m2[1].trim();\n\n  if (/hello\\s+world/i.test(source)) return 'hello world';\n  return '';\n};\n\nconst parseRequestedCount = (text) => {\n  const lower = String(text || '').toLowerCase();\n  const m = lower.match(/\\b(\\d+|one|two|three|four|five|six|seven|eight|nine|ten)\\b\\s+(?:biggest|largest|top)?\\s*\\w*\\s*capitals?/);\n  if (!m) return null;\n  const token = m[1];\n  let n = Number(token);\n  if (!Number.isFinite(n)) n = wordToNum[token] || null;\n  if (!n || n < 1) return null;\n  return n;\n};\n\nconst parseNthUpperRule = (textLower) => {\n  const explicit = textLower.match(/(?:every|each)\\s+(\\d+)(?:st|nd|rd|th)?\\s+letter[^\\n\\r]*capit/);\n  if (explicit) {\n    const n = Number(explicit[1]);\n    if (Number.isFinite(n) && n > 1) return n;\n  }\n  if (/(?:every|each)\\s+(second|2nd|senond|secnd|seconf|secong)\\s+letter[^\\n\\r]*capit/.test(textLower)) return 2;\n  if (/(?:every|each)\\s+(third|3rd|tird)\\s+letter[^\\n\\r]*capit/.test(textLower)) return 3;\n  return null;\n};\n\nconst applyNthUpper = (text, n) => {\n  let idx = 0;\n  return Array.from(String(text || '')).map((ch) => {\n    if (!/[a-zA-Z]/.test(ch)) return ch;\n    idx += 1;\n    return (idx % n === 0) ? ch.toUpperCase() : ch.toLowerCase();\n  }).join('');\n};\n\nconst inferTopCapitalsContent = (cmd) => {\n  const lower = String(cmd || '').toLowerCase();\n  const count = parseRequestedCount(lower);\n  if (!count || !/\\bcapitals?\\b/.test(lower)) return '';\n\n  const ranked = ['Tokyo', 'Delhi', 'Beijing', 'Cairo', 'Moscow', 'London', 'Paris', 'Madrid'];\n  const chosen = ranked.slice(0, count);\n  const spaced = /\\b(each|every)\\s+(two|2)\\s+lines?\\b/.test(lower) || /\\btwo\\s+lines?\\b/.test(lower) || /\\bover\\s+next\\b/.test(lower);\n  return chosen.join(spaced ? '\\n\\n' : '\\n');\n};\n\nconst resolveKnowledgePhrase = (text) => {\n  const t = String(text || '').trim();\n  const lower = t.toLowerCase();\n  if (/\\bslovakia\\b/.test(lower) && /\\bcapital\\b/.test(lower)) return 'Bratislava';\n  return t;\n};\n\nconst normalizeLineEdits = (raw) => {\n  if (!Array.isArray(raw)) return [];\n  const out = [];\n  for (const item of raw) {\n    if (!item || typeof item !== 'object') continue;\n    const line = parseLineNumber(item.line);\n    if (!line) continue;\n    let text = item.text === undefined ? '' : String(item.text).trim();\n    if (!text) continue;\n    text = resolveKnowledgePhrase(text);\n    out.push({ line, text });\n  }\n  return out;\n};\n\nconst extractLineEditsFromCommand = (text) => {\n  const out = [];\n  const re = /(?:add|put|set|write|change|make|update|udpate|updte|updat|udate)\\s+(.+?)\\s+(?:on|to|at)\\s+(?:the\\s+)?(\\d+(?:st|nd|rd|th)?[a-z]*|first|second|third|fourth|fifth|sixth|seventh|eighth|ninth|tenth)\\s+line/gi;\n  const matches = [...String(text || '').matchAll(re)];\n  for (const m of matches) {\n    const line = parseLineNumber(m[2]);\n    if (!line) continue;\n    let value = String(m[1] || '').trim();\n    value = value.replace(/^\\s*(?:is|to|as|should\\s+be|should\\s+say|it\\s+is|it\\s+says?|says?)\\s*/i, '');\n    value = value.replace(/^['\"]|['\"]$/g, '').trim();\n    value = resolveKnowledgePhrase(value);\n    if (!value) continue;\n    out.push({ line, text: value });\n  }\n  return out;\n};\n\nconst applyLineEdits = (existingContent, edits) => {\n  let lines = String(existingContent || '').split(/\\r?\\n/);\n  if (lines.length === 1 && lines[0] === '') lines = [];\n  const maxLine = Math.max(...edits.map((e) => e.line));\n  while (lines.length < maxLine) lines.push('');\n  for (const e of edits) lines[e.line - 1] = e.text;\n  return lines.join('\\n');\n};\n\nconst extractInjectedCurrentContent = (cmd) => {\n  const m = String(cmd || '').match(/Current file content:\\n([\\s\\S]*)$/i);\n  return m ? String(m[1] || '') : '';\n};\n\nconst isSpaceAfterEachLetterIntent = (cmdLower) => {\n  return /\\b(?:space|spacing)\\b.*\\b(?:after|between)\\b.*\\b(?:each|every)\\b.*\\b(?:letter|character|char)\\b/.test(cmdLower) ||\n    /\\binclude\\s+space\\s+after\\s+each\\s+(?:letter|character|char)\\b/.test(cmdLower) ||\n    /\\bspace\\s+out\\s+(?:the\\s+)?(?:letters|text)\\b/.test(cmdLower);\n};\n\nconst spaceOutLetters = (txt) => {\n  const lines = String(txt || '').split(/\\r?\\n/);\n  return lines.map((line) => {\n    let out = '';\n    for (const ch of line) {\n      if (ch === ' ') out += '  ';\n      else out += ch + ' ';\n    }\n    return out.trimEnd();\n  }).join('\\n');\n};\n\n\nconst escapeRegExp = (str) => String(str || '').replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n\nconst extractReplaceSpec = (text) => {\n  const src = String(text || '').trim();\n  const m1 = src.match(/\\breplace\\s+\"([^\"]+)\"\\s+with\\s+\"([^\"]+)\"/i);\n  if (m1) return { from: m1[1], to: m1[2], caseSensitive: false };\n  const m2 = src.match(/\\breplace\\s+'([^']+)'\\s+with\\s+'([^']+)'/i);\n  if (m2) return { from: m2[1], to: m2[2], caseSensitive: false };\n  const m3 = src.match(/\\breplace\\s+([^\\n\\r]+?)\\s+with\\s+([^\\n\\r]+?)\\s*$/i);\n  if (m3) return {\n    from: String(m3[1] || '').trim().replace(/^['\"]|['\"]$/g, ''),\n    to: String(m3[2] || '').trim().replace(/^['\"]|['\"]$/g, ''),\n    caseSensitive: false,\n  };\n  return null;\n};\n\nconst applyReplace = (text, spec) => {\n  const input = String(text || '');\n  if (!spec || !spec.from) return input;\n  const re = new RegExp(escapeRegExp(spec.from), spec.caseSensitive ? 'g' : 'gi');\n  return input.replace(re, String(spec.to || ''));\n};\n\nconst extractCommandPath = (text) => {\n  const t = String(text || '');\n  const direct = t.match(/([A-Za-z]:[\\\\/][^\\n\\r]+)/);\n  if (direct && direct[1]) return cleanupPath(direct[1]);\n  return '';\n};\n\nconst inferActionFromCommand = (text, contextPath) => {\n  const lower = String(text || '').toLowerCase();\n  const hasRead = /\\b(read|open|show)\\b/.test(lower) && /\\b(file|txt|text|document|note)\\b/.test(lower);\n  const hasList = /\\b(list|show)\\b/.test(lower) && /\\b(directory|folder|files?)\\b/.test(lower);\n  const hasWrite = /\\b(write|put|create|save|append|update|udpate|updte|updat|udate|edit|modify|add|make|build|generate|include|insert|format|transform|adjust|rewrite|change|replace)\\b/.test(lower) &&\n    (/\\b(file|txt|text|document|note)\\b/.test(lower) || /\\b(it|this|that|same|latest|last|previous|current)\\b/.test(lower));\n\n  if (hasRead) return 'read_file';\n  if (hasList) return 'list_directory';\n  if (hasWrite) return 'write_file';\n\n  // Contextual write follow-up\n  if (contextPath && /\\b(it|this|that|same|latest|last|previous|current)\\b/.test(lower) &&\n      /\\b(add|append|update|edit|modify|change|replace|rewrite|include|insert|format|transform|adjust|write|put)\\b/.test(lower)) {\n    return 'write_file';\n  }\n\n  return '';\n};\n\nconst parsed = parseJsonPayload(response) || {};\nconst modelConfidence = Number(parsed.confidence);\n\nconst allowedActions = ['write_file', 'read_file', 'list_directory'];\nconst plannerAction = allowedActions.includes(String(parsed.action || '').toLowerCase()) ? String(parsed.action).toLowerCase() : '';\nconst inferredAction = inferActionFromCommand(originalCommand, lastFilePath);\n\nlet action = plannerAction || inferredAction || 'error';\nif (inferredAction && plannerAction && inferredAction !== plannerAction) {\n  // Deterministic parser wins when there's disagreement\n  action = inferredAction;\n}\n\nconst contextRef = /\\b(this|that|same|latest|last|previous|current)\\b/.test(lowerCommand) || /\\b(?:in|into)\\s+it\\b/.test(lowerCommand);\nconst explicitPathFromCommand = extractCommandPath(originalCommand);\nconst fileNameHint = extractFileNameHint(originalCommand);\nconst rawPath = cleanupPath(parsed.path || parsed.filePath || parsed.filename || '');\nconst hasExplicitPathInCommand = !!explicitPathFromCommand || /\\b[A-Za-z0-9 _.-]+\\.(?:txt|text|md|json|csv|log)\\b/i.test(originalCommand);\n\nlet chosenPath = '';\nif (explicitPathFromCommand) {\n  chosenPath = explicitPathFromCommand;\n} else if (lastFilePath && contextRef && !hasExplicitPathInCommand) {\n  chosenPath = lastFilePath;\n} else if (action === 'write_file' && fileNameHint && !contextRef) {\n  chosenPath = fileNameHint;\n} else if (rawPath) {\n  chosenPath = rawPath;\n} else if (action === 'write_file') {\n  chosenPath = lastFilePath || 'helloWorld.txt';\n} else {\n  chosenPath = lastFilePath || baseDir;\n}\n\nconst fullPath = sanitizePath(chosenPath, action);\n\nlet append = parsed.append !== undefined ? !!parsed.append : (String(parsed.writeMode || '').toLowerCase() === 'append');\nconst commandHasLineIntent = /\\b(?:\\d+(?:st|nd|rd|th)?[a-z]*|first|second|third|fourth|fifth|sixth|seventh|eighth|ninth|tenth)\\s+line\\b/.test(lowerCommand);\nconst plannerWriteMode = String(parsed.writeMode || '').toLowerCase();\nlet lineEdits = normalizeLineEdits(parsed.lineEdits);\nif (lineEdits.length && !commandHasLineIntent && plannerWriteMode !== 'line_edit') {\n  lineEdits = [];\n}\nconst commandLineEdits = extractLineEditsFromCommand(originalCommand);\nif (commandLineEdits.length) lineEdits = commandLineEdits;\n\nlet content = parsed.content === undefined ? '' : String(parsed.content);\nif (!content && parsed.text !== undefined) content = String(parsed.text);\n\nconst injectedCurrent = extractInjectedCurrentContent(originalCommand);\nconst spaceIntent = isSpaceAfterEachLetterIntent(lowerCommand);\nconst nthRule = parseNthUpperRule(lowerCommand);\nconst capitalsIntent = /\\bcapitals?\\b/.test(lowerCommand) && /\\b(write|put|add)\\b/.test(lowerCommand);\nconst replaceSpec = extractReplaceSpec(originalCommand);\nconst transformVerb = /\\b(update|udpate|updte|updat|udate|edit|modify|change|replace|rewrite|transform|format|adjust)\\b/.test(lowerCommand);\n\nconst deterministicTransform = (() => {\n  if (spaceIntent && (contextRef || !!lastFilePath)) {\n    return { type: 'space_letters' };\n  }\n  if (replaceSpec && (contextRef || transformVerb || !!lastFilePath)) {\n    return { type: 'replace_text', ...replaceSpec };\n  }\n  if (commandLineEdits.length > 0 && (contextRef || transformVerb || !!lastFilePath)) {\n    return { type: 'line_edit', lineEdits: commandLineEdits };\n  }\n  if (nthRule && (contextRef || transformVerb)) {\n    return { type: 'uppercase_nth', n: nthRule };\n  }\n  return null;\n})();\n\nconst missingTransformTarget = !!deterministicTransform && !explicitPathFromCommand && !rawPath && !lastFilePath;\nif (missingTransformTarget) {\n  action = 'error';\n}\n\nif (deterministicTransform && action !== 'error') {\n  action = 'read_file';\n  append = false;\n  content = '';\n  lineEdits = [];\n}\n\nif (action === 'write_file') {\n  if (!content && /\\b(create|make|write)\\b/.test(lowerCommand)) {\n    content = extractCreatePayload(originalCommand);\n  }\n\n  if (!content && lastUserFileCommand && /\\b(create|make|write)\\b/.test(lastUserFileCommand.toLowerCase())) {\n    content = extractCreatePayload(lastUserFileCommand);\n  }\n\n  if (capitalsIntent) {\n    const capitals = inferTopCapitalsContent(originalCommand);\n    if (capitals) {\n      content = capitals;\n      append = false;\n    }\n  }\n\n  if (nthRule && content) {\n    content = applyNthUpper(content, nthRule);\n  }\n\n  content = String(content || '').trimEnd();\n}\n\nif (action === 'error' && missingTransformTarget) {\n  return {\n    json: {\n      action: 'error',\n      message: 'Transform requested but no target file was resolved from context',\n      content: '',\n      fullPath: baseDir,\n      path: baseDir,\n      isExternal: false,\n      append: false,\n      confidence: 0,\n      modelConfidence: Number.isFinite(modelConfidence) ? modelConfidence : null,\n      parserTier: plannerTier,\n      confidenceBreakdown: {},\n      postReadTransform: deterministicTransform || undefined,\n    },\n  };\n}\n\nif (action === 'write_file' && !String(content || '').trim()) {\n  return {\n    json: {\n      action: 'error',\n      message: 'Write request missing content after normalization',\n      content: '',\n      fullPath,\n      path: fullPath,\n      isExternal: false,\n      append: false,\n      confidence: 0,\n      modelConfidence: Number.isFinite(modelConfidence) ? modelConfidence : null,\n      parserTier: plannerTier,\n      confidenceBreakdown: {},\n    },\n  };\n}\n\nif (!allowedActions.includes(action)) {\n  return {\n    json: {\n      action: 'error',\n      message: 'Unable to resolve valid action',\n      content: '',\n      fullPath: baseDir,\n      path: baseDir,\n      isExternal: false,\n      append: false,\n      confidence: 0,\n      modelConfidence: Number.isFinite(modelConfidence) ? modelConfidence : null,\n      parserTier: plannerTier,\n      confidenceBreakdown: {},\n    },\n  };\n}\n\nconst inferActionMatch = inferredAction ? inferredAction === action : true;\nconst sanePath = !!fullPath && (fullPath.toLowerCase().startsWith(baseDir.toLowerCase()) || /^[A-Za-z]:\\//.test(fullPath));\nconst hasSpecificFilePath = !!fullPath && !String(fullPath || '').match(/\\/Axiom_Files\\/?$/);\nconst requiredFields = action === 'write_file'\n  ? (String(content || '').trim().length > 0 && !!fullPath)\n  : (action === 'read_file' && deterministicTransform ? hasSpecificFilePath : !!fullPath);\nconst needsContextBinding = contextRef && !hasExplicitPathInCommand;\nconst contextBindingSucceeded = !needsContextBinding || (lastFilePath && sanitizePath(lastFilePath, action).toLowerCase() === fullPath.toLowerCase());\n\nlet contentSanity = true;\nif (action === 'write_file') {\n  const c = String(content || '');\n  if (!c.trim()) contentSanity = false;\n} else if (action === 'read_file' && deterministicTransform) {\n  if (deterministicTransform.type === 'line_edit') {\n    contentSanity = Array.isArray(deterministicTransform.lineEdits) && deterministicTransform.lineEdits.length > 0;\n  } else if (deterministicTransform.type === 'replace_text') {\n    contentSanity = !!String(deterministicTransform.from || '').trim();\n  } else if (deterministicTransform.type === 'uppercase_nth') {\n    const n = Number(deterministicTransform.n || 0);\n    contentSanity = Number.isFinite(n) && n > 1;\n  }\n}\n\nlet deterministicConfidence = 0;\nconst breakdown = {};\nif (allowedActions.includes(action)) { deterministicConfidence += 0.25; breakdown.validAction = 0.25; }\nif (sanePath) { deterministicConfidence += 0.20; breakdown.sanePath = 0.20; }\nif (requiredFields) { deterministicConfidence += 0.20; breakdown.requiredFields = 0.20; }\nif (inferActionMatch) { deterministicConfidence += 0.15; breakdown.intentMatch = 0.15; }\nif (contextBindingSucceeded) { deterministicConfidence += 0.10; breakdown.contextBinding = 0.10; }\nif (contentSanity) { deterministicConfidence += 0.10; breakdown.contentSanity = 0.10; }\n\ndeterministicConfidence = Number(deterministicConfidence.toFixed(2));\n\nreturn {\n  json: {\n    action,\n    content: action === 'write_file' ? String(content || '') : '',\n    fullPath,\n    path: fullPath,\n    isExternal: false,\n    append: action === 'write_file' ? append : false,\n    confidence: deterministicConfidence,\n    modelConfidence: Number.isFinite(modelConfidence) ? modelConfidence : null,\n    parserTier: plannerTier,\n    confidenceBreakdown: breakdown,\n    lineEdits: lineEdits.length ? lineEdits : undefined,\n    postReadTransform: deterministicTransform || undefined,\n  },\n};"
      }
    },
    {
      "id": "node-switch-tool",
      "name": "Tool Hub",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "mode": "rules",
        "options": {
          "fallbackOutput": 3
        },
        "rules": {
          "values": [
            {
              "renameOutput": false,
              "outputIndex": 0,
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "write_file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "renameOutput": false,
              "outputIndex": 1,
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "read_file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "renameOutput": false,
              "outputIndex": 2,
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "list_directory",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-c"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        }
      }
    },
    {
      "id": "node-prepare-write",
      "name": "Prepare Write Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1500,
        100
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const text = String($json.content ?? '');\nconst fileName = String(($json.fullPath || 'output.txt').split('/').pop() || 'output.txt');\n\nreturn {\n  json: $json,\n  binary: {\n    content: {\n      data: Buffer.from(text, 'utf8').toString('base64'),\n      mimeType: 'text/plain',\n      fileName,\n    },\n  },\n};"
      }
    },
    {
      "id": "node-tool-write",
      "name": "Tool: Write File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1600,
        100
      ],
      "parameters": {
        "operation": "write",
        "fileName": "={{$json.fullPath}}",
        "dataPropertyName": "content",
        "options": {
          "append": "={{$json.append || false}}"
        }
      }
    },
    {
      "id": "node-tool-read",
      "name": "Tool: Read File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1600,
        200
      ],
      "parameters": {
        "operation": "read",
        "fileSelector": "={{$json.fullPath}}",
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "node-tool-list",
      "name": "Tool: List Directory",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1600,
        300
      ],
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ ($json.fullPath || \"\").endsWith(\"/\") ? ($json.fullPath + \"*\") : ($json.fullPath + \"/*\") }}",
        "options": {}
      }
    },
    {
      "id": "node-tool-error",
      "name": "Error Tool Format",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1600,
        400
      ],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response",
              "value": "Unknown or invalid action requested."
            }
          ]
        }
      }
    },
    {
      "id": "node-format-write",
      "name": "Format Write Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1800,
        100
      ],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response",
              "value": "=I have successfully written the file to {{$json.fullPath || $json.fileName || $json.path || \"C:/Users/Martin/.n8n-files/Axiom_Files\"}}."
            }
          ]
        }
      }
    },
    {
      "id": "node-format-read",
      "name": "Format Read Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1800,
        200
      ],
      "parameters": {
        "jsCode": "let content = '';\ntry {\n  const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  content = buffer.toString('utf8');\n} catch (e) {\n  content = '';\n}\nif (!content && typeof $json.data === 'string') content = String($json.data);\nconst fileLabel = $json.fileName ? ` (${String($json.fileName)})` : '';\nif (!content) {\n  return { json: { response: `Unable to read file contents${fileLabel}.` } };\n}\nreturn { json: { response: `File Contents${fileLabel}:\\n\\n${content}` } };"
      }
    },
    {
      "id": "node-format-list",
      "name": "Format List Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1800,
        300
      ],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response",
              "value": "=Directory Contents:\n\n{{JSON.stringify($input.all().map(i => i.json.fileName), null, 2)}}"
            }
          ]
        }
      }
    },
    {
      "id": "node-ollama-task",
      "name": "Ollama Task Mode",
      "type": "n8n-nodes-local-ai-manager.localAiManager",
      "typeVersion": 1,
      "position": [
        600,
        500
      ],
      "parameters": {
        "connectionType": "local",
        "modelName": "llama3.2",
        "systemDirective": "You are OpenClaw, processing an automation task. The user is outlining a multi-step objective for you.",
        "userInput": "={{ ($node[\"Extract Input\"].json.historyText ? (\"RECENT CONTEXT:\\n\" + $node[\"Extract Input\"].json.historyText + \"\\n\\n\") : \"\") + $node[\"Extract Input\"].json.content }}"
      }
    },
    {
      "id": "node-format-task",
      "name": "Format Task Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        800,
        500
      ],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response",
              "value": "={{$node[\"Ollama Task Mode\"].json.response}}"
            }
          ]
        }
      }
    },
    {
      "id": "node-chat",
      "name": "Ollama Chat",
      "type": "n8n-nodes-local-ai-manager.localAiManager",
      "typeVersion": 1,
      "position": [
        600,
        0
      ],
      "parameters": {
        "connectionType": "local",
        "modelName": "llama3.2",
        "systemDirective": "You are OpenClaw, the Sovereign AI Engine for Axiom Nexus. Be helpful and concise.",
        "userInput": "={{ ($node[\"Extract Input\"].json.historyText ? (\"RECENT CONTEXT:\\n\" + $node[\"Extract Input\"].json.historyText + \"\\n\\n\") : \"\") + $node[\"Extract Input\"].json.content }}"
      }
    },
    {
      "id": "node-format-chat",
      "name": "Format Chat Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response",
              "value": "={{$node[\"Ollama Chat\"].json.response}}"
            }
          ]
        }
      }
    },
    {
      "id": "node-respond",
      "name": "Final Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2200,
        200
      ],
      "parameters": {
        "respondWith": "allIncomingItems"
      }
    },
    {
      "id": "node-unify-output",
      "name": "Unify Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2000,
        200
      ],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response",
              "value": "={{$json.response}}"
            }
          ]
        }
      }
    },
    {
      "id": "node-save-history",
      "name": "Save History",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2100,
        200
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {}
      }
    },
    {
      "id": "node-sandbox-check",
      "name": "Sandbox Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.isExternal}}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "node-ask-permission",
      "name": "Ask Hub Permission",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4000/api/notify",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "permission_request"
            },
            {
              "name": "message",
              "value": "Axiom Nexus is requesting {{$json.action}} access to external file: {{$json.fullPath}}. Allow?"
            },
            {
              "name": "resumeUrl",
              "value": "http://localhost:5678/webhook-waiting/{{$execution.id}}/approve"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-wait-permission",
      "name": "Wait For Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1050,
        400
      ],
      "parameters": {
        "resume": "webhook",
        "webhookPath": "approve"
      }
    },
    {
      "id": "node-restore-context",
      "name": "Restore Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1200,
        400
      ],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "action",
              "value": "={{$node['Parse JSON'].json.action}}"
            },
            {
              "name": "fullPath",
              "value": "={{$node['Parse JSON'].json.fullPath}}"
            },
            {
              "name": "content",
              "value": "={{$node['Parse JSON'].json.content}}"
            }
          ]
        }
      }
    },
    {
      "id": "node-tool-parse-gate",
      "name": "Tool Parse Confidence Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        980,
        200
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ String($json.parserTier || '') === 'heavy' || ($json.action !== \"error\" && Number($json.confidence || 0) >= 0.72 && ($json.action !== \"write_file\" || (String($json.content || \"\").trim().length > 0 && !String($json.fullPath || \"\").match(/\\/Axiom_Files\\/?$/)))) }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "node-tool-parse-heavy",
      "name": "Ollama Tool Parse Heavy",
      "type": "n8n-nodes-local-ai-manager.localAiManager",
      "typeVersion": 1,
      "position": [
        980,
        360
      ],
      "parameters": {
        "connectionType": "local",
        "modelName": "qwen2.5:3b",
        "systemDirective": "You are a proposal generator for Axiom Nexus. Return one STRICT JSON object only. The parser will normalize and validate final execution.\n\nYou are the high-accuracy planning brain for Axiom Nexus.\nReturn one STRICT JSON object only.\n\nSchema:\n{\n  \"action\": \"write_file\" | \"read_file\" | \"list_directory\",\n  \"path\": \"absolute path or filename\",\n  \"writeMode\": \"overwrite\" | \"append\" | \"line_edit\",\n  \"content\": \"final write text\",\n  \"lineEdits\": [\n    { \"line\": 2, \"text\": \"replacement text\" }\n  ],\n  \"append\": true | false,\n  \"confidence\": 0.00-1.00\n}\n\nHard requirements:\n- No markdown, no explanations.\n- Resolve \"it/that file\" and use provided target path.\n- For line instructions, always return explicit numeric lineEdits.\n- Resolve factual placeholders into concrete values (example: Slovakia capital -> Bratislava).\n- Respect cardinality and spacing requests (example: \"3 biggest capitals\", \"each two lines\").\n- Prefer coherent final content over meta-instructions.\n- Keep path within C:/Users/Martin/.n8n-files/Axiom_Files unless user explicitly requests otherwise.\n- If the user says \"it\"/\"that file\"/\"latest file\" without a new path, reuse the provided target file path exactly.",
        "userInput": "={{ ($node[\"Extract Input\"].json.historyText ? (\"RECENT CONTEXT:\\n\" + $node[\"Extract Input\"].json.historyText + \"\\n\\n\") : \"\") + $node[\"Extract Input\"].json.content }}"
      }
    },
    {
      "parameters": {
        "jsCode": "const content = String($json.content || '');\nconst lower = content.toLowerCase();\n\nconst evalSummary = {\n  hasFollowUpRef: /\\b(it|this|that|same|latest|last|previous|current)\\b/.test(lower),\n  hasActionVerb: /\\b(write|put|add|append|update|edit|modify|change|replace|rewrite|read|open|list|create|make|include|insert|format|transform|adjust)\\b/.test(lower),\n  hasExplicitPath: /[A-Za-z]:[\\\\/]/.test(content),\n  mentionsFile: /\\b(file|txt|text|document|folder|directory)\\b/.test(lower),\n  modeBeforeRouter: String($json.mode || ''),\n};\n\nreturn {\n  json: {\n    ...$json,\n    inputEvaluation: evalSummary,\n  },\n};"
      },
      "id": "node-evaluate-input",
      "name": "Evaluate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const originalCommand = String($node['Extract Input'].json.content || '');\nconst lowerCommand = originalCommand.toLowerCase();\nconst fullPath = String($json.fullPath || $json.fileName || $json.path || '').replace(/\\\\/g, '/');\nconst plannedContent = String($json.content ?? '');\nconst action = String($json.action || '');\n\nconst out = {\n  ...$json,\n  verification: {\n    ok: true,\n    reason: 'ok',\n    checkedPath: fullPath,\n    mode: action || 'unknown',\n    verifiedBy: 'plan',\n  },\n};\n\nif (action === 'write_file') {\n  if (!fullPath) {\n    out.verification = { ok: false, reason: 'Missing target file path', checkedPath: fullPath, mode: 'write', verifiedBy: 'plan' };\n    return { json: out };\n  }\n\n  if (!plannedContent.trim()) {\n    out.verification = { ok: false, reason: 'Write plan has empty content', checkedPath: fullPath, mode: 'write', verifiedBy: 'plan' };\n    return { json: out };\n  }\n\n  const isSpaceIntent = /\\b(?:space|spacing)\\b.*\\b(?:after|between)\\b.*\\b(?:each|every)\\b.*\\b(?:letter|character|char)\\b/.test(lowerCommand)\n    || /\\binclude\\s+space\\s+after\\s+each\\s+(?:letter|character|char)\\b/.test(lowerCommand)\n    || /\\bspace\\s+out\\s+(?:the\\s+)?(?:letters|text)\\b/.test(lowerCommand);\n\n  if (isSpaceIntent) {\n    const letters = (plannedContent.match(/[A-Za-z]/g) || []).length;\n    const spaced = (plannedContent.match(/[A-Za-z] /g) || []).length;\n    const ratio = letters > 0 ? (spaced / letters) : 0;\n    const ok = letters > 0 && ratio >= 0.85;\n    out.verification = {\n      ok,\n      reason: ok ? 'ok' : `Planned content does not apply space-after-each-letter (ratio ${ratio.toFixed(2)})`,\n      checkedPath: fullPath,\n      mode: 'write',\n      verifiedBy: 'plan',\n      ratio,\n    };\n    return { json: out };\n  }\n}\n\nreturn { json: out };"
      },
      "id": "node-verify-tool-result",
      "name": "Verify Tool Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1700,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.verification && $json.verification.ok === true}}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-write-verification-gate",
      "name": "Write Verification Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1750,
        100
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response",
              "value": "=Write verification failed for {{$json.verification.checkedPath || $json.fullPath || \"target file\"}}: {{$json.verification.reason || \"Unknown reason\"}}."
            }
          ]
        }
      },
      "id": "node-format-write-error",
      "name": "Format Write Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1900,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = String($json.response || '').trim();\nif (!response) {\n  return { json: { ...$json, response: 'Workflow completed, but no response payload was generated.' } };\n}\nreturn { json: $json };"
      },
      "id": "node-evaluate-output",
      "name": "Evaluate Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2050,
        200
      ]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "plannerTier",
              "value": "heavy"
            }
          ]
        }
      },
      "id": "node-mark-heavy-planner",
      "name": "Mark Heavy Planner",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1000,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$node['Parse JSON'].json.postReadTransform }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-read-transform-gate",
      "name": "Read Transform Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1750,
        250
      ]
    },
    {
      "parameters": {
        "jsCode": "const plan = $node['Parse JSON'].json || {};\nconst transform = plan.postReadTransform || $json.postReadTransform;\nconst fullPath = String(plan.fullPath || plan.path || $json.fullPath || '').replace(/\\\\/g, '/');\n\nif (!transform || !transform.type) {\n  return { json: { action: 'error', fullPath, path: fullPath, message: 'No deterministic transform plan available.' } };\n}\n\nlet inputText = '';\ntry {\n  const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  inputText = buffer.toString('utf8');\n} catch (e) {\n  inputText = '';\n}\nif (!inputText && typeof $json.data === 'string') {\n  inputText = String($json.data);\n}\nif (!inputText.length) {\n  return {\n    json: {\n      action: 'error',\n      fullPath,\n      path: fullPath,\n      message: `Could not load file content for transform at ${fullPath || 'target file'}.`,\n      postReadTransform: transform,\n    },\n  };\n}\n\nconst spaceOutLetters = (txt) => {\n  const lines = String(txt || '').split(/\\r?\\n/);\n  return lines.map((line) => {\n    let out = '';\n    for (const ch of line) {\n      if (ch === ' ') out += '  ';\n      else out += ch + ' ';\n    }\n    return out.trimEnd();\n  }).join('\\n');\n};\n\nconst applyNthUpper = (text, n) => {\n  let idx = 0;\n  return Array.from(String(text || '')).map((ch) => {\n    if (!/[a-zA-Z]/.test(ch)) return ch;\n    idx += 1;\n    return (idx % n === 0) ? ch.toUpperCase() : ch.toLowerCase();\n  }).join('');\n};\n\nconst applyLineEdits = (existingContent, edits) => {\n  let lines = String(existingContent || '').split(/\\r?\\n/);\n  if (lines.length === 1 && lines[0] === '') lines = [];\n  const maxLine = Math.max(...edits.map((e) => Number(e.line || 0)));\n  while (lines.length < maxLine) lines.push('');\n  for (const e of edits) {\n    const line = Number(e.line || 0);\n    if (line >= 1) lines[line - 1] = String(e.text || '');\n  }\n  return lines.join('\\n');\n};\n\nconst escapeRegExp = (str) => String(str || '').replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\nconst applyReplace = (text, spec) => {\n  const re = new RegExp(escapeRegExp(spec.from), spec.caseSensitive ? 'g' : 'gi');\n  return String(text || '').replace(re, String(spec.to || ''));\n};\n\nlet outputText = inputText;\nif (transform.type === 'space_letters') {\n  outputText = spaceOutLetters(inputText);\n} else if (transform.type === 'uppercase_nth') {\n  const n = Number(transform.n || 0);\n  if (!Number.isFinite(n) || n <= 1) {\n    return { json: { action: 'error', fullPath, path: fullPath, message: 'Invalid uppercase_nth transform parameter.' } };\n  }\n  outputText = applyNthUpper(inputText, n);\n} else if (transform.type === 'replace_text') {\n  if (!String(transform.from || '').length) {\n    return { json: { action: 'error', fullPath, path: fullPath, message: 'Invalid replace_text source value.' } };\n  }\n  outputText = applyReplace(inputText, transform);\n} else if (transform.type === 'line_edit') {\n  const edits = Array.isArray(transform.lineEdits) ? transform.lineEdits : [];\n  if (!edits.length) {\n    return { json: { action: 'error', fullPath, path: fullPath, message: 'line_edit requires at least one line edit.' } };\n  }\n  outputText = applyLineEdits(inputText, edits);\n} else {\n  return { json: { action: 'error', fullPath, path: fullPath, message: `Unsupported transform type: ${transform.type}` } };\n}\n\nreturn {\n  json: {\n    ...plan,\n    action: 'write_file',\n    fullPath,\n    path: fullPath,\n    content: String(outputText || ''),\n    append: false,\n    postReadTransform: transform,\n    postReadTransformApplied: true,\n  },\n};"
      },
      "id": "node-apply-deterministic-transform",
      "name": "Apply Deterministic Transform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1900,
        250
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.action === 'write_file' && String($json.content || '').length > 0 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-transform-output-gate",
      "name": "Transform Output Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2050,
        250
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response",
              "value": "={{ $json.message ? ('Transform failed: ' + $json.message) : ('Transform failed for ' + ($json.fullPath || 'target file')) }}"
            }
          ]
        }
      },
      "id": "node-format-transform-error",
      "name": "Format Transform Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2200,
        320
      ]
    }
  ],
  "connections": {
    "Webhook Input": {
      "main": [
        [
          {
            "node": "Extract Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Input": {
      "main": [
        [
          {
            "node": "Evaluate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mode Router": {
      "main": [
        [
          {
            "node": "Ollama Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ollama Tool Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ollama Task Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Tool Parse": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Hub": {
      "main": [
        [
          {
            "node": "Prepare Write Binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tool: Read File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tool: List Directory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Tool Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Write Binary": {
      "main": [
        [
          {
            "node": "Tool: Write File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Write File": {
      "main": [
        [
          {
            "node": "Verify Tool Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Read File": {
      "main": [
        [
          {
            "node": "Read Transform Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: List Directory": {
      "main": [
        [
          {
            "node": "Format List Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Task Mode": {
      "main": [
        [
          {
            "node": "Format Task Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat": {
      "main": [
        [
          {
            "node": "Format Chat Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Chat Output": {
      "main": [
        [
          {
            "node": "Unify Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Write Output": {
      "main": [
        [
          {
            "node": "Unify Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Read Output": {
      "main": [
        [
          {
            "node": "Unify Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format List Output": {
      "main": [
        [
          {
            "node": "Unify Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Tool Format": {
      "main": [
        [
          {
            "node": "Unify Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Task Output": {
      "main": [
        [
          {
            "node": "Unify Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unify Output": {
      "main": [
        [
          {
            "node": "Evaluate Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save History": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Tool Parse Confidence Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sandbox Check": {
      "main": [
        [
          {
            "node": "Ask Hub Permission",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tool Hub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Hub Permission": {
      "main": [
        [
          {
            "node": "Wait For Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For Approval": {
      "main": [
        [
          {
            "node": "Restore Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Context": {
      "main": [
        [
          {
            "node": "Tool Hub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Parse Confidence Gate": {
      "main": [
        [
          {
            "node": "Sandbox Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ollama Tool Parse Heavy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Tool Parse Heavy": {
      "main": [
        [
          {
            "node": "Mark Heavy Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Input": {
      "main": [
        [
          {
            "node": "Mode Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Tool Result": {
      "main": [
        [
          {
            "node": "Write Verification Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Verification Gate": {
      "main": [
        [
          {
            "node": "Format Write Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Write Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Write Error": {
      "main": [
        [
          {
            "node": "Unify Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Output": {
      "main": [
        [
          {
            "node": "Save History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Heavy Planner": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Transform Gate": {
      "main": [
        [
          {
            "node": "Apply Deterministic Transform",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Read Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Deterministic Transform": {
      "main": [
        [
          {
            "node": "Transform Output Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Output Gate": {
      "main": [
        [
          {
            "node": "Prepare Write Binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Transform Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Transform Error": {
      "main": [
        [
          {
            "node": "Unify Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}