Managed_Stack_Data/export-all.json
[{"updatedAt":"2026-03-05T23:17:23.747Z","createdAt":"2026-03-05T23:17:23.747Z","id":"1","name":"Axiom Nexus Secure Bridge","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"headerAuth","httpMethod":"POST","path":"openclaw-exec","options":{}},"credentials":{"httpHeaderAuth":{"id":"","name":"Header Auth account"}},"id":"webhook-node-id","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300]},{"parameters":{"values":{"string":[{"name":"status","value":"Success"},{"name":"message","value":"Tool executed via n8n bridge"}]},"options":{}},"id":"brain-node-id","name":"AI Brain Placeholder","type":"n8n-nodes-base.set","typeVersion":1,"position":[450,300]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"response-node-id","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[650,300]}],"connections":{"Webhook":{"main":[[{"node":"AI Brain Placeholder","type":"main","index":0}]]},"AI Brain Placeholder":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":null,"versionId":"13307463-39d1-4355-96a7-b80334e691c6","activeVersionId":null,"versionCounter":7,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-05T23:17:23.748Z","createdAt":"2026-03-05T23:17:23.748Z","role":"workflow:owner","workflowId":"1","projectId":"AOPnDcQznvPwRh5X","project":{"updatedAt":"2026-03-06T19:07:03.111Z","createdAt":"2026-03-05T23:05:29.959Z","id":"AOPnDcQznvPwRh5X","name":"Martin Baculik <baculik.martin@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"65a5e9e6-761a-4da2-ab31-490847af9205"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-06T20:24:39.000Z","createdAt":"2026-03-06T20:19:18.481Z","id":"3","name":"Axiom Master Router","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"openclaw-exec","responseMode":"onReceived","options":{}},"id":"2af7d501-8fc2-4099-906d-7195e6f6631b","name":"Webhook Input","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,200]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return { json: { mode: $input.item.json.body.mode || 'chat', content: $input.item.json.body.content } };"},"id":"e6a7c3d1-46a5-4876-9d5a-52f2c8a7412a","name":"Extract Input","type":"n8n-nodes-base.code","typeVersion":1,"position":[200,200]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","type":"string"},"conditions":[{"leftValue":"={{ $json.mode }}","operator":"equal","rightValue":"chat"}],"combinator":"and"},"outputIndex":0},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","type":"string"},"conditions":[{"leftValue":"={{ $json.mode }}","operator":"equal","rightValue":"tool"}],"combinator":"and"},"outputIndex":1},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","type":"string"},"conditions":[{"leftValue":"={{ $json.mode }}","operator":"equal","rightValue":"task"}],"combinator":"and"},"outputIndex":2}]},"options":{}},"id":"b3e9f4c2-7d8a-4b95-a2c6-1e9d3f5b8a7c","name":"Mode Router","type":"n8n-nodes-base.switch","typeVersion":1,"position":[400,200]},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS short_term_memory (id INTEGER PRIMARY KEY AUTOINCREMENT, sender TEXT, content TEXT, timestamp DATETIME DEFAULT CURRENT_TIMESTAMP);","options":{}},"id":"c4d8e5f6-7a8b-4c9d-8e7f-6a5b4c3d2e1f","name":"Init Memory DB","type":"n8n-nodes-base.sqlite","typeVersion":1,"position":[600,0]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM short_term_memory ORDER BY timestamp DESC LIMIT 10;","options":{}},"id":"d5e6f7a8-b9c0-4d1e-8f2a-3b4c5d6e7f8a","name":"Fetch Memory","type":"n8n-nodes-base.sqlite","typeVersion":1,"position":[800,0]},{"parameters":{"jsCode":"const originalContent = $node[\"Extract Input\"].json.content;\nconst historyRaw = $input.all().map(i => i.json);\nconst history = historyRaw.reverse();\nlet historyStr = history.map(m => `${m.sender}: ${m.content}`).join('\\n');\n\nconst systemPrompt = `You are OpenClaw, the Sovereign AI Engine for Axiom Nexus. Be helpful and concise.\\n\\nCONVERSATION HISTORY:\\n${historyStr}`;\n\nreturn { prompt: originalContent, system: systemPrompt };"},"id":"f6a7b8c9-d0e1-4f2a-b3c4-d5e6f7a8b9c0","name":"Build Chat Prompt","type":"n8n-nodes-base.code","typeVersion":1,"position":[1000,0]},{"parameters":{"model":"llama3.2","prompt":"={{$json.prompt}}","systemPrompt":"={{$json.system}}","options":{}},"id":"a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d","name":"Ollama Chat","type":"n8n-nodes-base.ollama","typeVersion":1,"position":[1200,0]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO short_term_memory (sender, content) VALUES ('user', '{{$node[\"Extract Input\"].json.content}}'); INSERT INTO short_term_memory (sender, content) VALUES ('agent', '{{$json.response}}');","options":{}},"id":"b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e","name":"Save Chat Memory","type":"n8n-nodes-base.sqlite","typeVersion":1,"position":[1400,0]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"={{$node[\"Ollama Chat\"].json.response}}"}]},"options":{}},"id":"c3d4e5f6-a7b8-4c9d-8e7f-6a5b4c3d2e1f","name":"Format Chat Output","type":"n8n-nodes-base.set","typeVersion":1,"position":[1600,0]},{"parameters":{"model":"llama3.2","prompt":"={{$node[\"Extract Input\"].json.content}}","systemPrompt":"Convert the user's tool request into STRICT JSON matching exactly this schema:\n{\n  \"action\": \"write_file\" | \"read_file\" | \"list_directory\",\n  \"path\": \"THE ABSOLUTE PATH OR FILENAME\",\n  \"content\": \"THE DATA TO WRITE (if write_file)\"\n}\nRespond ONLY with raw JSON. No markdown backticks. No explanation.","options":{"format":"json"}},"id":"d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a","name":"Ollama Tool Parse","type":"n8n-nodes-base.ollama","typeVersion":1,"position":[600,200]},{"parameters":{"jsCode":"try {\n  const parsed = JSON.parse($input.item.json.response);\n  return { json: parsed };\n} catch(e) {\n  return { json: { action: 'error', message: 'Failed to parse JSON' } };\n}"},"id":"e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b","name":"Parse JSON","type":"n8n-nodes-base.code","typeVersion":1,"position":[800,200]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","type":"string"},"conditions":[{"leftValue":"={{ $json.action }}","operator":"equal","rightValue":"write_file"}],"combinator":"and"},"outputIndex":0},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","type":"string"},"conditions":[{"leftValue":"={{ $json.action }}","operator":"equal","rightValue":"read_file"}],"combinator":"and"},"outputIndex":1},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","type":"string"},"conditions":[{"leftValue":"={{ $json.action }}","operator":"equal","rightValue":"list_directory"}],"combinator":"and"},"outputIndex":2}]},"options":{"fallbackOutput":3}},"id":"f6a7b8c9-d0e1-4f2a-b3c4-d5e6f7a8b9c0","name":"Tool Hub","type":"n8n-nodes-base.switch","typeVersion":1,"position":[1000,200]},{"parameters":{"operation":"write","fileName":"={{$json.path}}","dataPropertyName":"={{$json.content}}","options":{}},"id":"a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d","name":"Tool: Write File","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1200,100]},{"parameters":{"operation":"read","fileName":"={{$json.path}}","options":{}},"id":"b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e","name":"Tool: Read File","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1200,200]},{"parameters":{"operation":"list","path":"={{$json.path}}","options":{}},"id":"c3d4e5f6-a7b8-4c9d-8e7f-6a5b4c3d2e1f","name":"Tool: List Directory","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1200,300]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"Unknown or invalid action requested."}]},"options":{}},"id":"d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a","name":"Error Tool Format","type":"n8n-nodes-base.set","typeVersion":1,"position":[1200,400]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"=I have successfully written the file to {{$node[\"Parse JSON\"].json.path}}."}]},"options":{}},"id":"e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b","name":"Format Write Output","type":"n8n-nodes-base.set","typeVersion":1,"position":[1400,100]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"=File Contents:\n\n{{$json.data}}"}]},"options":{}},"id":"f6a7b8c9-d0e1-4f2a-b3c4-d5e6f7a8b9c0","name":"Format Read Output","type":"n8n-nodes-base.set","typeVersion":1,"position":[1400,200]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"=Directory Contents:\n\n{{JSON.stringify($input.all().map(i => i.json.name), null, 2)}}"}]},"options":{}},"id":"a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d","name":"Format List Output","type":"n8n-nodes-base.set","typeVersion":1,"position":[1400,300]},{"parameters":{"model":"llama3.2","prompt":"={{$node[\"Extract Input\"].json.content}}","systemPrompt":"You are OpenClaw, processing an automation task. The user is outlining a multi-step objective for you.","options":{}},"id":"b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e","name":"Ollama Task Mode","type":"n8n-nodes-base.ollama","typeVersion":1,"position":[600,500]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"={{$node[\"Ollama Task Mode\"].json.response}}"}]},"options":{}},"id":"c3d4e5f6-a7b8-4c9d-8e7f-6a5b4c3d2e1f","name":"Format Task Output","type":"n8n-nodes-base.set","typeVersion":1,"position":[800,500]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a","name":"Final Response (Mock)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2000,200]}],"connections":{"Webhook Input":{"main":[[{"node":"Extract Input","type":"main","index":0}]]},"Extract Input":{"main":[[{"node":"Mode Router","type":"main","index":0}]]},"Mode Router":{"main":[[{"node":"Init Memory DB","type":"main","index":0}],[{"node":"Ollama Tool Parse","type":"main","index":0}],[{"node":"Ollama Task Mode","type":"main","index":0}]]},"Init Memory DB":{"main":[[{"node":"Fetch Memory","type":"main","index":0}]]},"Fetch Memory":{"main":[[{"node":"Build Chat Prompt","type":"main","index":0}]]},"Build Chat Prompt":{"main":[[{"node":"Ollama Chat","type":"main","index":0}]]},"Ollama Chat":{"main":[[{"node":"Save Chat Memory","type":"main","index":0}]]},"Save Chat Memory":{"main":[[{"node":"Format Chat Output","type":"main","index":0}]]},"Ollama Tool Parse":{"main":[[{"node":"Parse JSON","type":"main","index":0}]]},"Parse JSON":{"main":[[{"node":"Tool Hub","type":"main","index":0}]]},"Tool Hub":{"main":[[{"node":"Tool: Write File","type":"main","index":0}],[{"node":"Tool: Read File","type":"main","index":0}],[{"node":"Tool: List Directory","type":"main","index":0}],[{"node":"Error Tool Format","type":"main","index":0}]]},"Tool: Write File":{"main":[[{"node":"Format Write Output","type":"main","index":0}]]},"Tool: Read File":{"main":[[{"node":"Format Read Output","type":"main","index":0}]]},"Tool: List Directory":{"main":[[{"node":"Format List Output","type":"main","index":0}]]},"Ollama Task Mode":{"main":[[{"node":"Format Task Output","type":"main","index":0}]]},"Format Chat Output":{"main":[[{"node":"Final Response (Mock)","type":"main","index":0}]]},"Format Write Output":{"main":[[{"node":"Final Response (Mock)","type":"main","index":0}]]},"Format Read Output":{"main":[[{"node":"Final Response (Mock)","type":"main","index":0}]]},"Format List Output":{"main":[[{"node":"Final Response (Mock)","type":"main","index":0}]]},"Error Tool Format":{"main":[[{"node":"Final Response (Mock)","type":"main","index":0}]]},"Format Task Output":{"main":[[{"node":"Final Response (Mock)","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"7e9f0b78-9fae-4190-889c-7e9f42818995","activeVersionId":"7e9f0b78-9fae-4190-889c-7e9f42818995","versionCounter":4,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-06T20:19:18.483Z","createdAt":"2026-03-06T20:19:18.483Z","role":"workflow:owner","workflowId":"3","projectId":"AOPnDcQznvPwRh5X","project":{"updatedAt":"2026-03-06T19:07:03.111Z","createdAt":"2026-03-05T23:05:29.959Z","id":"AOPnDcQznvPwRh5X","name":"Martin Baculik <baculik.martin@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"65a5e9e6-761a-4da2-ab31-490847af9205"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-06T20:19:51.720Z","createdAt":"2026-03-06T20:19:51.720Z","id":"4","name":"Axiom Invoice Processor","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"postImportAction":"nothing","options":{}},"id":"e1f2a3b4-c5d6-4a7b-8c9d-0e1f2a3b4c5d","name":"IMAP Email Read (Inbox)","type":"n8n-nodes-base.emailReadImap","typeVersion":1,"position":[100,300]},{"parameters":{"operation":"extract","options":{}},"id":"f2a3b4c5-d6e7-4f8a-9b0c-1d2e3f4a5b6c","name":"Extract PDF Attachment","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[300,300]},{"parameters":{"model":"llama3.2","prompt":"=Extract data from this invoice content: {{$json.text}}. Respond ONLY in JSON with these keys: vendor, date, invoice_number, total_amount, vat.","options":{"format":"json"}},"id":"a3b4c5d6-e7f8-4a9b-0c1d-2e3f4a5b6c7d","name":"AI Data Extraction","type":"n8n-nodes-base.ollama","typeVersion":1,"position":[500,300]},{"parameters":{"operation":"append","fileName":"Managed_Stack_Data/axiom_invoices.csv","dataPropertyName":"={{$json.response}}","options":{}},"id":"b4c5d6e7-f8a9-4b0c-1d2e-3f4a5b6c7d8e","name":"Log to CSV","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[700,300]}],"connections":{"IMAP Email Read (Inbox)":{"main":[[{"node":"Extract PDF Attachment","type":"main","index":0}]]},"Extract PDF Attachment":{"main":[[{"node":"AI Data Extraction","type":"main","index":0}]]},"AI Data Extraction":{"main":[[{"node":"Log to CSV","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"4faa8035-194f-4213-bd18-95777e26f02b","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-06T20:19:51.724Z","createdAt":"2026-03-06T20:19:51.724Z","role":"workflow:owner","workflowId":"4","projectId":"AOPnDcQznvPwRh5X","project":{"updatedAt":"2026-03-06T19:07:03.111Z","createdAt":"2026-03-05T23:05:29.959Z","id":"AOPnDcQznvPwRh5X","name":"Martin Baculik <baculik.martin@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"65a5e9e6-761a-4da2-ab31-490847af9205"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-06T20:19:55.519Z","createdAt":"2026-03-06T20:19:55.519Z","id":"5","name":"Axiom Auto-Filer","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"list","path":"C:/Axiom_Input","options":{}},"id":"a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d","name":"Scan Drop Folder","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[100,300]},{"parameters":{"model":"llama3.2","prompt":"=Categorize this file contents: {{$json.text}}. Respond ONLY in JSON with these keys: category (options: invoice, receipt, legal, other), suggested_filename.","options":{"format":"json"}},"id":"b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e","name":"AI File Classification","type":"n8n-nodes-base.ollama","typeVersion":1,"position":[300,300]},{"parameters":{"operation":"move","fromPath":"={{$node[\"Scan Drop Folder\"].json.path}}","toPath":"=C:/Axiom_Sorted/{{$json.category}}/{{$json.suggested_filename}}","options":{}},"id":"c3d4e5f6-a7b8-4c9d-8e7f-6a5b4c3d2e1f","name":"Move to Sorted Box","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[500,300]}],"connections":{"Scan Drop Folder":{"main":[[{"node":"AI File Classification","type":"main","index":0}]]},"AI File Classification":{"main":[[{"node":"Move to Sorted Box","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"0ff6c08e-e862-4898-95a1-80e24e818b22","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-06T20:19:55.521Z","createdAt":"2026-03-06T20:19:55.521Z","role":"workflow:owner","workflowId":"5","projectId":"AOPnDcQznvPwRh5X","project":{"updatedAt":"2026-03-06T19:07:03.111Z","createdAt":"2026-03-05T23:05:29.959Z","id":"AOPnDcQznvPwRh5X","name":"Martin Baculik <baculik.martin@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"65a5e9e6-761a-4da2-ab31-490847af9205"}}],"versionMetadata":{"name":null,"description":null}}]